%h1= @doc.title
%h1= @doc.content

= link_to "All_Docs", docs_path
= link_to "Edit Document", edit_doc_path
= link_to "Delete Document", edit_doc_path, method: :delete, data: {confirm: "Are you sure you want to delete"}
